/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: rgb(163, 163, 163, 0.5); /* Transparent background color for glass effect */
    color: #5c5c5c;
    padding: 10px 0;
    backdrop-filter: blur(5px);
    border-radius: 50px;
    /* Add blur effect to the background */
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Hero section styles */
.hero {
    background-color: rgb(255, 255, 255, 0.5);
    text-align: center;
    padding: 50px 0;
    border-radius: 10px;
}

.hero h1 {
    font-size: 2em;
    color: #333;
}

.hero p {
    font-size: 1.2em;
    color: #666;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(41, 41, 41, 0.5);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    backdrop-filter: blur(10px);
}

.btn:hover {
    background-color: #555;
}

/* Features section styles */
.features {
    background-color:rgb(255, 255, 255, 0.5);
    padding: 50px 0;
    text-align: center;
}

.features h2 {
    font-size: 1.5em;
    color: rgb(61, 61, 61, 0.5);
}

.features ul {
    list-style: none;
}

.features ul li {
    margin: 10px 0;
}

/* Download section styles */
.download {
    background-color:  rgb(150, 150, 150, 0.5);
    color: #fff;
    text-align: center;
    padding: 50px 0;
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.download h2 {
    font-size: 1.5em;
}

.download a.btn {
    background-color: #fff;
    color: #969696;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.download a.btn:hover {
    background-color: #ccc